li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    background-color: pink;
}

li:hover {
    background-color: white;
    color: pink;
}
